* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  width: 100%;
  min-height: 380px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.service {
  margin-top: 5rem;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  //   position: absolute;
  bottom: 0;
  box-shadow: 0 0 20px -15px #111;
  z-index: 1;
  transition: transform 0.7s;
}

.service-logo {
  width: 130px;
  height: 130px;
  border-radius: 10%;
  border: 10px solid #111;
  margin: -90px auto 0;
  background: #ffffff;
  // background: #fff;
  // margin: 50px auto;
  // position: relative;
}

.service-logo img {
  width: 50px;
  margin-top: 20px;
}

.service h4 {
  height: 35px;
  width: 80%;
  background: #ffffff;
  margin: 50px auto;
  position: relative;
}

// .service h4::after {
//   content: "";
//   width: 40px;
//   height: 30px;
//   background: linear-gradient(to right, white, #5205f0);
//   position: absolute;
//   right: -5px;
//   top: -5px;
//   z-index: -1;
// }
// .service h4::before {
//   content: "";
//   width: 40px;
//   height: 30px;
//   background: linear-gradient(to right, #5205f0, white);
//   position: absolute;
//   left: -5px;
//   bottom: -5px;
//   z-index: -1;
// }
.shadow1 {
  height: 200px;
  width: 80%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 10%;
  z-index: -1;
  box-shadow: 0 0 20px -15px #111;
  transition: transform 0.7s;
}

.shadow2 {
  height: 200px;
  width: 64%;
  background: #fff;
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 18%;
  z-index: -2;
}

.main:hover .service {
  transform: translateY(-50px);
}

.main:hover .shadow1 {
  transform: translateY(-25px);
}
