// .App {
//     text-align: center;
// }
// .App-logo {
//     height: 40vmin;
//     pointer-events: none;
// }
// @media (prefers-reduced-motion: no-preference) {
//     .App-logo {
//         animation: App-logo-spin infinite 20s linear;
//     }
// }
#rain {
  height: 100%;
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
}

#container {
  // position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

//*rain
i {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  z-index: -1;
  background: linear-gradient(transparent, #fff);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: background-animate 5s linear infinite;
}

i:nth-child(3n + 1) {
  background: linear-gradient(transparent, #e9fff5);
}

i:nth-child(3n + 2) {
  background: linear-gradient(transparent, #e9fff5);
}

i:nth-child(3n + 3) {
  background: linear-gradient(transparent, #01fe87);
}

@keyframes background-animate {
  0% {
  }
  100% {
    transform: translateY(calc(-100%));
    top: 100%;
  }
}
