@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");
.row .card {
  // --bs-card-spacer-y: 1rem;
  // text-align: center;
  // --bs-card-title-spacer-y: 0.5rem;
  // --bs-card-border-width: 1.5px;
  --bs-card-border-color: #ffffffff;
  --bs-card-border-radius: 0.375rem;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  // --bs-card-cap-padding-y: 0.5rem;
  // --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-bg: transparent;
  color: white;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: center;
  align-items: center;
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   justify-content: center;
  //   align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  .btn {
    margin-bottom: 1rem;
    color: #01fe87;
  }
}

// .col-auto {
//     margin-bottom: 2rem;
//     margin-top: 5rem;
.form-control {
  background-color: transparent;
  border-color: #01fe87;
  margin-bottom: 1rem;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

// }
// .form-select {
//     padding-right: 3rem;
// }
img {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

h1 {
  color: #01fe87;
  padding-bottom: 1rem;
}

.p4 {
  color: #01fe87;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.p2 {
  color: #01fe87;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.p3 {
  margin-bottom: 1rem;
  color: #01fe87;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  color: #01fe87;
}

.sort {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
